@model NBDv2.Models.Project

@{
    ViewData["Title"] = "Create";
}
    <div>
        <a asp-action="Index"><button class="btn btn-dark">< Back</button></a>
    </div>
    <hr />
<h1>New Bid</h1>
<hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Desc" class="control-label"></label>
                            <input asp-for="Desc" class="form-control" />
                            <span asp-validation-for="Desc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EstCost" class="control-label"></label>
                            <input asp-for="EstCost" class="form-control" />
                            <span asp-validation-for="EstCost" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BidDate" class="control-label"></label>
                            <input asp-for="BidDate" class="form-control" />
                            <span asp-validation-for="BidDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EstStartDate" class="control-label"></label>
                            <input asp-for="EstStartDate" class="form-control" />
                            <span asp-validation-for="EstStartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EstFinishDate" class="control-label"></label>
                            <input asp-for="EstFinishDate" class="form-control" />
                            <span asp-validation-for="EstFinishDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="FinishDate" class="control-label"></label>
                            <input asp-for="FinishDate" class="form-control" />
                            <span asp-validation-for="FinishDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cost" class="control-label"></label>
                            <input asp-for="Cost" class="form-control" />
                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="BidCustApproved" /> @Html.DisplayNameFor(model => model.BidCustApproved)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="BidManagementApproved" /> @Html.DisplayNameFor(model => model.BidManagementApproved)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClientID" class="control-label"></label>
                            <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DesignerID" class="control-label"></label>
                            <select asp-for="DesignerID" class="form-control" asp-items="ViewBag.DesignerID"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
