@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Project Administration System</h1>
        <br />
        <img src="~/img/homepagelogo.png" alt="Natural By Design" style="width:auto;height:300px;" />


    </div>
