@model NBDv2.Models.Project

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
               Date 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectMaterials.GroupBy(x => x.MatInstall).Select(y => y.First()))
        {
            
                
        <tr>
            <td>
                @Html.DisplayFor(i => item.MatInstall);
            </td>
            <td>
                <a  >Details </a>
                <button asp-action="Details" asp-route="@Model.ID" name="reportDate" value="@item.MatInstall"></button>
            </td>
        </tr>

            
        }

        </tbody>
</table>
